 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
			
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am Chuan-Chin Lai (賴傳錦), a game engineer from Taiwan. 
					   I previously worked as a research assistant for Academia Sinica Institute of Astronomy and Astrophysics for 2 years. 
					   After publishing my first paper, I decided to resign my position to work towards my dreams. 
					   I currently study at the University of Utah, pursuing Master degree in Entertainment Arts and Engineering program. 
					   I aspire to be a game programmer on AAA console/PC games.
					   You can find more details about my experience in my resume.</p>
                </div>

				
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="resume.pdf" class="btn btn-success btn-lg">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>

            </div>
        </div>
    </section>